<!-- Bannière -->
<div class="center navTitle">
  Venez innover et expérimenter au campus Les Champs du Possible !
</div>
<div class="slider">
  <slick settings="vm.slickConfig">
    <div class="repeat" ng-repeat="home in vm.homes | orderBy:'ordre' ">
      <a href="{{home.lienClick}}" target="_blank">
                    <img ng-src='{{home.lienImg}}' />
                </a>
    </div>
  </slick>
</div>

<!--Choix d'un profil  -->
<div class="row container center">

  <h4 class="pink-text">Campus Les Champs du Possible</h4>
  <h5>Le plus grands centre d'innovation et d'expérimentations agricoles.</h5><br>

  <div class="col s12 m4">
    <a href="#!/offres/Startup"><i class="fa fa-users fa-4x pink-text" aria-hidden="true"></i></a>
    <h5>PARTAGER</h5>
    <p>Echanger les savoirs et les expériences, créer des ponts entre les disciplines et susciter la rencontre en s'ouvrant à tous, sans distinction.</p>
  </div>

  <div class="col s12 m4">
    <a href="#!/offres/Entreprise"><i class="fa fa-handshake-o fa-4x pink-text" aria-hidden="true"></i></a>
    <h5>ACCOMPAGNEMENT</h5>
    <p>Se réapproprier les techniques, les sciences, les technologies du numérique, et les savoirs artisanaux</p>
  </div>


  <div class="col s12 m4">
    <a href="#!/offres/Startup"><i class="fa fa-rocket fa-4x pink-text" aria-hidden="true"></i></a>
    <h5>PEPINIERE</h5>
    <p>Expérimenter une idée, créer un premier prototype, contribuer à un projet citoyen, réparer un matériel défectueux, développer son projet... Tout est possible dès qu'on est dans le Faire!</p>
  </div>
</div>

<div class="parallax-container">
  <h1 class="center parralaxTitle">600m² d'espaces de travail</h1>
  <div class="parallax"><img src="assets/img/campus.png"></div>
</div>



<!-- <h1 class="pink-text">Consultez nos offres</h1>

<div class="listprofile">
  <div class="col s12 center">

      <div class="row container">

          <div class="col s12 m6 l3">
            <a href="#!/offres/Entreprise" class="btn-large center pink">
              Entreprise <br>
              <i class="fa fa-briefcase fa-3x white-text" aria-hidden="true"></i>
            </a>
          </div>

          <div class="col s12 m6 l3">
            <a href="#!/offres/Startup" class="btn-large center pink">
              StartUp <br>
              <i class="fa fa-rocket fa-3x white-text" aria-hidden="true"></i>
            </a>
          </div>

          <div class="col s12 m6 l3">
            <a href="#!/offres/Entreprise" class="btn-large center pink">
              Expert <br>
              <i class="fa fa-user fa-3x white-text" aria-hidden="true"></i>
            </a>
          </div>

          <div class="col s12 m6 l3">
            <a href="#!/offres/Entreprise" class="btn-large center pink">
              Étudiant <br>
              <i class="fa fa-graduation-cap fa-3x white-text" aria-hidden="true"></i>
            </a>
          </div>
      </div>
    </div>
  </div> -->



<div class="row s12">

  <div class="">

    <div class="col s12 col l4 zoom">
      <h2>Espace Start-Up</h2>
      <h5>
         Accédez à un bureau avec un programme d’accompagnement entouré de coach et d'entrepreneurs et des meilleures ressources. </h5>
      <br>
      <div class="cardStartUp center">
        <i class="fa fa-rocket fa-4x pink-text" aria-hidden="true"></i>
        <h1>Par Mois</h1>
        <h1 class="pink-text">A partir de 55€</h1>
      </div>
      <div class="buttonStartUp center">
        <a class="white-text" href="https://campuslcdp.typeform.com/to/tiOqc1" type="button" name="button">Rejoignez-nous</a>
      </div>
    </div>

    <div class="col s12 col l4 zoom">
      <h2>Salle de réunion</h2>
      <h5>
        Accédez de deux Open Space moderne et convivial avec des espaces de travail, des évènnements et des activités à louer au mois !
    </h5>
      <br>
      <div class="cardSalle center">
        <i class="fa fa-home fa-4x pink-text" aria-hidden="true"></i>
        <h1>Par Demi journée</h1>
        <h1 class="pink-text">A partir de 80€</h1>
      </div>
      <div class="buttonSalle center">
        <a class="white-text" href="https://campuslcdp.typeform.com/to/tiOqc1" type="button" name="button">Réservation</a>
      </div>
    </div>

    <div class="col s12 col l4 zoom">
      <h2>Co-Working</h2>
      <h5>
        Accédez de deux Open Space moderne et convivial avec des espaces de travail, des évènnements et des activités à louer au mois !
    </h5>
      <br>
      <div class="cardCoworking center">
        <i class="fa fa-users fa-4x pink-text" aria-hidden="true"></i>
        <h1>Par Mois</h1>
        <h1 class="pink-text">A partir de 45€</h1>
      </div>
      <div class="buttonCo center">
        <a class="white-text" href="https://campuslcdp.typeform.com/to/tiOqc1" type="button" name="button">Rejoignez-nous</a>
      </div>
    </div>


  </div>
</div>

<div class="parallax-container">
  <h1 class="center parralaxTitle white-text">MEDIA</h1>
  <div class="parallax"><img src="assets/img/cam.jpg"></div>
</div>

<h1><a class="red-text" href="https://www.youtube.com/channel/UC4xKeJLSjDLDAtW1dNfwwVw?view_as=subscriber" target="_blank"><i class="fa fa-youtube-play fa-1x" aria-hidden="true"></i> Le Youtube du possible</a></h1>

  <div class="row center" id="youtube"></div>

<h1><a class="pink-text" href="https://medium.com/@champspossible" target="_blank"><i class="fa fa-newspaper-o fa-1x" aria-hidden="true"></i> Les news du possible</a></h1>

<!-- Blog-->
<section class="section blog" id="blog">
  <div class="row">
    <div class="section-content" id="blogContent">
      <div class="row" id="jsonContent"></div>
    </div>
  </div>
</section>
<!-- Blog-->

<div class="row col s12 m12 l12">
  <h1 class="center">Nos Partenaires</h1>
  <div class="carousel valign">
    <a class="carousel-item" href="javascript:void(0)" ng-repeat='partner in vm.partners |filter:vm.greaterThan("sortAccueil", "0") | orderBy:sortAccueil'><img ng-src="{{partner.logo}}" alt="partenaire"></a>
  </div>
</div>

<!-- <div class="row">
    <div class="col s12 m12 l12 center">
        <h1 class="titreAccueil">Suivez notre communauté</h1>
    </div>
</div>

<div class="row">
    <div class="col s12 m12 l7">
        <div class="col s12 m12 l12">
            <p class="pinkText center" id="titreActu">
                ACTUALITÉS
            </p>
            <div id="actu">
                <article id="actualite" ng-repeat="news in vm.newss | orderBy: '-date'">
                    <h2 id="titreArticle">{{news.titre}}</h2>
                    <img ng-src="{{news.image}}" id="imgArticle">
                    <p id="textArticle">{{news.texte}}</p>
                    <p id="dateArticle">
                        <span ng-show="news.date">Posté le {{news.date | date:'dd/MM/yyyy'}}</span>
                        <span ng-show="news.auteur">par {{news.auteur}}.</span>

                    </p>
                    <br>
                    <br>
                </article>
            </div>
        </div>

    </div>
    <div class="col s12 m12 l5 center">
        <div class="row socialLogo">
            <div class="col s4 m4 l4">
                <a href="https://www.youtube.com/channel/UC4xKeJLSjDLDAtW1dNfwwVw" target="_blank"><img src="/assets/img/youtube.png" class="boutonSM" /></a>
            </div>
            <div class="col s4 m4 l4">
                <a href="https://twitter.com/champspossible?lang=fr" target="_blank"><img src="/assets/img/twitter.png" class="boutonSM" /></a>
            </div>
            <div class="col s4 m4 l4">
                <a href="https://www.facebook.com/champspossible" target="_blank"><img src="/assets/img/facebook.png" class="boutonSM" /></a>
            </div>
        </div>

        <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fchampspossible%2F%3Fref%3Dts%26fref%3Dts&tabs=timeline&width=500&height=800&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=false&appId=1222472067795207"
            width="500" height="600" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
    </div>
</div>


<div class="row">
    <div class="col s12 m12 l12 center">
        <a href="!#/campus">
            <h1 class="titreAccueil">Le Campus</h1>
        </a>
    </div>
</div>
<div class="row">
    <div class="col s12 m12 l6">
        <p id="texteVideo">
            <span class="pinkText">DE LA FORMATION A L'INCUBATION</span><br><br>Le Campus "Les Champs du Possible" est le centre d'innovation et d'expérimentations agricoles.
            <br><br>Ici, startupers, lycéens, étudiants, professionnels, agriculteurs, développeurs, spécialistes du numérique, se rencontrent et inventent, ensemble, l'agriculture du futur !
        </p>
    </div>
    <div class="col s12 m12 l6">
        <div class="video-container">
            <iframe src="https://www.youtube.com/embed/CS5yzWr4sTs" frameborder="1" allowfullscreen></iframe>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s12 m12 l6">
        <div class="video-container">
            <iframe src="https://www.youtube.com/embed/xu9smvcnD6E" frameborder="1" allowfullscreen></iframe>
        </div>
    </div>
    <div class="col s12 m12 l6">
        <p id="texteVideo1">
            <span class="pinkText">VILLAGE BY CA</span><br><br>Le Village by CA de Châteaudun, tourné vers l’agriculture numérique, facilite votre business avec une multitude de partenaires publics et privés locaux, nationaux et internationaux.
            <br><br>Vous bénéficiez d’un vaste réseau dans lequel les startups et les grandes entreprises entrent en relation d’affaires grâce à l’interconnexion entre les Villages.
        </p>
    </div>
</div>

<div class="row center">
    <div class="col s12 m12 l12">
        <a href="!#/partenaires">
            <h1 class="titreAccueil">Nos Partenaires / Habitants</h1>
        </a>
    </div>
</div>
 -->
