<div class="center navTitle">
  La vie au campus
</div>

<div class="parallax-container">
  <h1 class="center parralaxTitle">Les Chiffres</h1>
  <div class="parallax"><img src="assets/img/number.jpg"></div>
</div>

<div class="row container">
  <div class="col s6 col l4">
    <h1 class="pink-text">7</h1>
    <p class="grey-text">7 starup inccubés</p>
  </div>
  <div class="col s6 col l4">
    <h1 class="pink-text">1</h1>
    <p class="grey-text">1 Laboratoire de fabrication de 230 m² 100% équipés ! </p>
  </div>
  <div class="col s6 col l4">
    <h1 class="pink-text">92</h1>
    <p class="grey-text">92 Hectares d'exploitations agricole.</p>
  </div>
  <div class="col s6 col l4">
    <h1 class="pink-text">2</h1>
    <p class="grey-text"> 2 espaces événementiels dont un amphithéâtre allant jusqu'à 200 places !</p>
  </div>
  <div class="col s6 col l4">
    <h1 class="pink-text">600</h1>
    <p class="grey-text">600m² d'espaces de co-working, de travail, salles de réunion ouvert 24/24 7/7 aux start-up et aux autres habitants ! </p>
  </div>
  <div class="col s6 col l4">
    <h1 class="pink-text">2</h1>
    <p class="grey-text">1 cafétériats au campus LCDP et une cuisine au VillageByCA </p>
  </div>
</div>

<div class="parallax-container">
  <h1 class="center parralaxTitle">La Carte</h1>
  <div class="parallax"><img src="assets/img/carte.jpg"></div>
</div>
<div class="center row">
  <div class="col s12">
    <img src="assets/img/map3d.jpg" class="responsive-imgMap">
  </div>
  <div class="col s1"></div>
  <div class="col s2">
    <h5 class="yellow-text">Bureau</h5>
  </div>
  <div class="col s2">
    <h5 class="orange-text">Espace co-working</h5>
  </div>
  <div class="col s2">
    <h5 class="green-text">FarmLab</h5>
  </div>
  <div class="col s2">
    <h5 class="red-text">Salle de Réunion</h5>
  </div>
  <div class="col s2">
    <h5 class="blue-text">Salle Evénementielle</h5>
  </div>
  <div class="col s1"></div>
</div>


<!-- <h1 class="center pink-text">La parole est au Start-up</h1>
<div class="row container">
  <div class="col s6 col l4">
    <p class="grey-text"><i class="fa fa-3x fa-quote-right black-text" aria-hidden="true"></i> Les Champs du Possible m'ont aider à constituer mon réseau - TIP TAP PRO</p>
    <img class='responsive-imgMap' src="assets/img/tiptap.jpg" alt="">
    <p class="black-text">Les Champs du Possible m'ont aider à constituer mon réseau - TIP TAP PRO</p>
  </div>
  <div class="col s6 col l4">
    <p class="grey-text"><i class="fa fa-3x fa-quote-right black-text" aria-hidden="true"></i> Les Champs du Possible m'ont aider à constituer mon réseau - TIP TAP PRO</p>
    <img class='responsive-imgMap' src="assets/img/ems.png" alt="">
    <p class="black-text">Les Champs du Possible m'ont aider à constituer mon réseau - TIP TAP PRO</p>
  </div>
  <div class="col s6 col l4">
    <p class="grey-text"><i class="fa fa-3x fa-quote-right black-text" aria-hidden="true"></i> Les Champs du Possible m'ont aider à constituer mon réseau - TIP TAP PRO</p>
    <img class='responsive-imgMap' src="assets/img/tiptap.jpg" alt="">
    <p class="black-text">Les Champs du Possible m'ont aider à constituer mon réseau - TIP TAP PRO</p>
  </div>
</div> -->
