<div class="parallax-container">
  <h1 class="center parralaxTitle">Les Chiffres</h1>
  <div class="parallax"><img src="assets/img/campus.png"></div>
</div>

<div class="row container">
  <div class="col s6 col l4">
    <h1 class="pink-text">9</h1>
    <p class="grey-text">9 startups incubées au Campus les Champs du Possible</p>
  </div>
  <div class="col s6 col l4">
    <h1 class="pink-text">1</h1>
    <p class="grey-text">1 laboratoire de fabrication de 230 m² équipé de d'outillage et d'équipements permettant de concevoir des prototypes.</p>
  </div>
  <div class="col s6 col l4">
    <h1 class="pink-text">+80</h1>
    <p class="grey-text"> Plus de 80 entreprises et acteurs institutionnels partenaires du Campus Les Champs du Possible.</p>
  </div>
  <div class="col s6 col l4">
    <h1 class="pink-text">92</h1>
    <p class="grey-text">92 hectares de surfaces agricoles, des fermes pilotes.</p>
  </div>
  <div class="col s6 col l4">
    <h1 class="pink-text">600</h1>
    <p class="grey-text">600m² d'espace de co-working, de bureaux fermés, salles de réunion ouverts 24/24 7/7 </p>
  </div>
  <div class="col s6 col l4">
    <h1 class="pink-text">250</h1>
    <p class="grey-text">250m² FARMLAB (espace de prototypage à l’intérieur du Village) </p>
  </div>
</div>

<div class="parallax-container">
  <div class="parallax"><img src="assets/img/map.jpg"></div>
</div>
<br>
<div class="center row">
  <div class="col s12">
    <img src="assets/img/map3d.jpg" class="responsive-imgMap">
  </div>
  <div class="col s1"></div>
  <div class="col s2">
    <h5 class="yellow-text">Bureau</h5>
  </div>
  <div class="col s2">
    <h5 class="orange-text">Espace co-working</h5>
  </div>
  <div class="col s2">
    <h5 class="green-text">FarmLab</h5>
  </div>
  <div class="col s2">
    <h5 class="red-text">Salle de Réunion</h5>
  </div>
  <div class="col s2">
    <h5 class="blue-text">Salle Evénementielle</h5>
  </div>
  <div class="col s1"></div>
</div>


<!-- <h1 class="center pink-text">La parole est au Start-up</h1>
<div class="row container">
  <div class="col s6 col l4">
    <p class="grey-text"><i class="fa fa-3x fa-quote-right black-text" aria-hidden="true"></i> Les Champs du Possible m'ont aider à constituer mon réseau - TIP TAP PRO</p>
    <img class='responsive-imgMap' src="assets/img/tiptap.jpg" alt="">
    <p class="black-text">Les Champs du Possible m'ont aider à constituer mon réseau - TIP TAP PRO</p>
  </div>
  <div class="col s6 col l4">
    <p class="grey-text"><i class="fa fa-3x fa-quote-right black-text" aria-hidden="true"></i> Les Champs du Possible m'ont aider à constituer mon réseau - TIP TAP PRO</p>
    <img class='responsive-imgMap' src="assets/img/ems.png" alt="">
    <p class="black-text">Les Champs du Possible m'ont aider à constituer mon réseau - TIP TAP PRO</p>
  </div>
  <div class="col s6 col l4">
    <p class="grey-text"><i class="fa fa-3x fa-quote-right black-text" aria-hidden="true"></i> Les Champs du Possible m'ont aider à constituer mon réseau - TIP TAP PRO</p>
    <img class='responsive-imgMap' src="assets/img/tiptap.jpg" alt="">
    <p class="black-text">Les Champs du Possible m'ont aider à constituer mon réseau - TIP TAP PRO</p>
  </div>
</div> -->
