<div class="center navTitle">
  Le campus en quelques chiffre
</div>
<div class="slider">
  <slick settings="vm.slickConfig">
    <div class="repeat" ng-repeat="home in vm.homes | orderBy:'ordre' ">
      <a href="{{home.lienClick}}" target="_blank">
                    <img ng-src='{{home.lienImg}}' />
                </a>
    </div>
  </slick>
</div>

<div class="row container">
  <div class="col s6 col l4">
    <h1 class="pink-text">7</h1>
    <p class="grey-text">7 starup inccubés</p>
  </div>
  <div class="col s6 col l4">
    <h1 class="pink-text">1</h1>
    <p class="grey-text">1 Laboratoire de fabrication de 230 m² 100% équipés ! </p>
  </div>
  <div class="col s6 col l4">
    <h1 class="pink-text">92</h1>
    <p class="grey-text">92 Hectares d'exploitations agricole.</p>
  </div>
  <div class="col s6 col l4">
    <h1 class="pink-text">2</h1>
    <p class="grey-text"> 2 espaces événementiels dont un amphithéâtre allant jusqu'à 200 places !</p>
  </div>
  <div class="col s6 col l4">
    <h1 class="pink-text">600</h1>
    <p class="grey-text">600m² d'espaces de co-working, de travail, salles de réunion ouvert 24/24 7/7 aux start-up et aux autres habitants ! </p>
  </div>
  <div class="col s6 col l4">
    <h1 class="pink-text">2</h1>
    <p class="grey-text">1 cafétériats au campus LCDP et une cuisine au VillageByCA </p>
  </div>
</div>



<!-- <div class="row container">

  <div class="col s6 col l4">

    <h1 class="pink-text">6 start-up</h1>
  <p>Le nombre de startups hébergés au sein du VillageByCA de Châteaudun qui bénéficie aussi de formation, de conférences, d'un réseau d'experts et d'une visibilité renforcée auprès de leurs clients</p>
  </div>



  <div class="col s6 col l4">
    <h1 class="pink-text">1 Farmlab</h1>
  <p>Profiter d'un laboratoire de fabrication de 230 m², 100% équipés seront à disposition pour réaliser vos projets les plus fous ! br>
 Le FarmLab est un lieu de créativité, d'innovation destinée aux entrepreneurs·eux·s, aux designers, aux artistes, aux bricoleurs·euse·s, aux étudiants·est ou aux hackers  </p>
  </div>



  <div class="col s6 col l4">
    <h1 class="pink-text">92 hectares</h1>
  <p>La Chambre d'Agriculture met à votre disposition des exploitations "agro-écologiques", des fermes-pilotes "ecophyto" ainsi que des plates-formes d'essais.</p>
  </div>

</div>

<div class="row container">

<div class="col s6 col l4">
  <h1 class="pink-text">2 amphithéâtres</h1>
<p> Profiter de 2 espaces événementiels dont un amphithéâtre allant jusqu'à 200 places !</p>
</div>


<div class="col s6 col l4">
  <h1 class="pink-text">600m²</h1>
<p>Des espaces de co-working, de travail et créativité, des salles de réunion ouvert 24/24 7/7 aux start-up et aux autres habitants ! </p>
</div>


<div class="col s6 col l4">
  <h1 class="pink-text">1 Champion <i class="fa fa-trophy" aria-hidden="true"></i></h1>
<p>Affronter les plus grands dans une bataille acharnée au ping-pong pour devenir "Le Champion Des Possible"</p>
</div>

</div> -->


<h1>Carte</h1>
<div class="center row">
  <div class="col s12">
    <img src="assets/img/map3d.jpg" class="responsive-imgMap">
  </div>
  <div class="col s1"></div>
  <div class="col s2">
    <h5 class="yellow-text">Bureau</h5>
  </div>
  <div class="col s2">
    <h5 class="orange-text">Espace co-working</h5>
  </div>
  <div class="col s2">
    <h5 class="green-text">FarmLab</h5>
  </div>
  <div class="col s2">
    <h5 class="red-text">Salle de Réunion</h5>
  </div>
  <div class="col s2">
    <h5 class="blue-text">Salle Evénementielle</h5>
  </div>
  <div class="col s1"></div>
</div>




<!-- <div class="divider"></div>
<div class="row blocCampus">
    <div class="col l6 m12 s12 blockText">
        <h2 class="titreCampus">Un lycée au service de votre territoire</h2>
        <p class="campus-p">Le Lycée agricole de Nermont est dans une dynamique de développement de ses formations supérieures pour élever le niveau de qualification des jeunes et répondre à la numérisation de la profession agricole.<br><br>Un BTS Systèmes Numériques, option informatique et réseau par la voie de l’apprentissage, est désormais proposé aux étudiants. Le lycée enseigne un ensemble de formation à tous niveaux d'études (de la 4ème au BTS).<br>
            <a href="http://www.nermont.fr/" target="_blank">www.nermont.fr</a><br>
            02 37 44 60 60<br>
            <a href="mailto:accueil@nermont.fr">accueil@nermont.fr</a>
        </p>
    </div>
    <div class="col l6 m12 s12 blockImg">
        <img src="assets/img/campus.jpg" class="responsive-img">
    </div>
</div>

<div class="row blocCampus">
    <div class="col l6 m12 s12 blockImg">
        <img src="assets/img/campus2.jpg" class="responsive-img">
    </div>
    <div class="col l6 m12 s12 blockText">
        <h2 class="titreCampus">Le Village by CA</h2>
        <p class="campus-p">Le Village by CA est un lieu de partage et de création dédié au business et à l’innovation.<br>Il abrite une pépinière, mais ne se résume pas à l’accompagnement de startups. Sa mission : promouvoir l’innovation sous toutes ses formes, au service du développement économique des territoires, en mettant en relation des startups, des PME et des grands groupes partenaires.<br>La filière Jeunes Entreprises Innovantes du Crédit Agricole Val de France est en charge de cette mission et fera le lien avec les autres Village by CA en France et à l’étranger.
            <br><br>
            <a href="http://www.levillagebyca.com/village/le-village-by-ca-chateaudun-2/" target="_blank">Village by CA de Châteaudun</a>
        </p>
    </div>

</div>

<div class="row blocCampus">
    <div class="col l6 m12 s12 blockText">
        <h2 class="titreCampus">Des espaces dédiés à l'expérimentation</h2>
        <p class="campus-p1">En plus, du Farmlab de 230m² et de la ferme expérimentale du Campus de 92 hectares, la Chambre d'Agriculture met à votre disposition des exploitations "agro-écologiques", des fermes-pilotes "ecophyto" ainsi que des plates-formes d'essais.
        </p>
    </div>
    <div class="col l6 m12 s12 blockImg">
        <img src="assets/img/campus3.jpg" class="responsive-img">
    </div>
</div>

<div class="row blocCampus">
    <div class="col l6 m12 s12 blockImg">
        <img src="assets/img/campus4.jpg" class="responsive-img">
    </div>
    <div class="col l6 m12 s12 blockText">
        <h2 class="titreCampus">Un écosystème dynamique</h2>
        <p class="campus-p1">L’association a développé un partenariat public/privé afin de permettre aux starts-up installées à Châteaudun de bénéficier d’une offre d’accompagnement complète.
            <br><br>De plus, un réseau de mentors spécialisés vous accompagne au quotidien.</p>
    </div>
</div> -->
