<br>
<div class="vm.partner">
  <div class="container">
  <div class="row">
      <div class="col s6">
        <a href="{{vm.pageProgram.img}}"><img class="responsive70" ng-src="{{vm.pagePartner.logo}}"></a>
      </div>

    <div class="col s6 right">
      <h1 class="center text">{{vm.pagePartner.nom}}</h1>
      <p>{{vm.pagePartner.smallDescription}}</p>
      <a href="{{vm.pagePartner.site}}">Lien Externe</a><br><br>
      <!-- <a href="https://champsdupossible.slack.com/messages" target="_blank" class="waves-effect waves-light btn white bleu-text">Rejoindre le projet &nbsp;<i class="fa fa-slack fa-2x" aria-hidden="true"></i></a> -->


    <!-- <div class="chip">
      <a href="/#/team"><img ng-src="{{vm.pageProgram.imgContributor}}" alt="Contact Person"> {{vm.pageProgram.nameContributor}}</a>
    </div> -->


    </div>


  </div>
</div>



<!-- <div class="row">
  <div ng-repeat='partner in vm.partners |filter:{type:vm.filter} | orderBy:nom' class="col s3 ">
    <div class="card">
      <div class="card-image">
        <a href="{{card.img}}"><img ng-src="{{partner.logo}}"></a>
      </div>
      <div class="card-content">
        <span class="card-title">{{partner.nom}}</span>
        <p>{{partner.smallDescription}}</p>
      </div>
      <div class="card-action">
        <a ng-href="{{partner.}}">Site officiel</a>
      </div>
    </div>
  </div>
</div> -->
