<!-- Zone de sélection d'affichage (boutons): Tous, Habitants ou Partenaires -->

<div class="row blocTri">
    <div class="col s12 m12 l3 center-align white-text center">FILTRER PAR :</div>
    <div class="col s4 m4 l3 center">
        <a class="center-align waves-effect waves-light white-text typePartner" ng-click="vm.filter=''">
            <i class="material-icons left iconeTripartners">{{vm.filter == "" ? "check_circle" : "language"}}</i>Tous</a>
    </div>
    <div class="col s4 m4 l3 center">
        <a class="center-align waves-effect waves-light white-text typePartner" ng-click="vm.filter='Partenaire'">
            <i class="material-icons left iconeTripartners">{{vm.filter == "Partenaire" ? "check_circle" : "supervisor_account"}}</i>Partenaires</a>
    </div>
    <div class="col s4 m4 l3 center">
        <a class="center-align waves-effect waves-light white-text typePartner" ng-click="vm.filter='Habitant'">
            <i class="material-icons left iconeTripartners">{{vm.filter == "Habitant" ? "check_circle" : "assignment_ind"}}</i>Habitants</a>
    </div>
</div>

<!-- Affichage des cards -->

<div class="row">
  <div ng-repeat='partner in vm.partners |filter:{type:vm.filter} | orderBy:nom' class="col s3 ">
    <div class="card zoom">
      <div class="card-image">
        <a class="mouseClick" ng-click="vm.card(partner._id)"><img ng-src="{{partner.logo}}"></a>
      </div>
      <div class="card-content">
        <a ng-click="vm.card(partner._id)"><span class="card-title mouseClick">{{partner.nom}}</span></a>
        <p>{{partner.smallDescription}}</p>
      </div>
      <div class="card-action">
        <a ng-href="{{partner.site}}">Site officiel</a>
      </div>
    </div>
  </div>
</div>
