<div class="center navTitle">
  Espace Presse
</div>

<div class="parallax-container">
  <h1 class="center parralaxTitle">Les Chiffres</h1>
  <div class="parallax"><img src="assets/img/number.jpg"></div>
</div>


<div class="container center">



  <div class="row">

    <div class="col s4 center">
      <i class="fa fa-newspaper-o fa-5x" aria-hidden="true"></i></i>
      <form method="get" action="assets/img/commPress.pdf">
        <button class="btn pink" type="submit">COMMUNIQUÉ DE PRESSE</button>
      </form>
    </div>

    <div class="col s4 center">
      <i class="fa fa-newspaper-o fa-5x" aria-hidden="true"></i></i>
      <form method="get" action="assets/img/commPress.pdf">

<div class="col s6">
  <button class="btn pink" type="submit">Campus.png</button>
</div>
<div class="col s6">
  <button class="btn pink" type="submit">Campus.ai</button>

</div>


      </form>
    </div>

    <div class="col s4 center">
      <i class="fa fa-newspaper-o fa-5x" aria-hidden="true"></i></i>
      <form method="get" action="assets/img/commPress.pdf">
        <button class="btn pink" type="submit">Logo VillageByCA Châteaudun</button>
      </form>
    </div>


    <h1 class="center padTilte">Réseaux Sociaux</h1>

    <div class="row">
      <div class="col s12 m6 l3 center">
        <h5>Twitter</h5>
        <a href="https://twitter.com/champspossible"><i class="fa fa-twitter-square fa-5x" aria-hidden="true"></i></a>
      </div>


      <div class="col s12 m6 l3 center">
        <h5>Facebook</h5>
        <a href="https://facebook.com/champspossible"><i class="fa fa-facebook-square fa-5x" aria-hidden="true"></i></a>
      </div>

      <div class="col s12 m6 l3 center">
        <h5>Linkedin</h5>
        <a href="https://Linkedin.com/champspossible"><i class="fa fa-linkedin-square fa-5x" aria-hidden="true"></i></a>
      </div>


      <div class="col s12 m6 l3 center">
        <h5>youtube</h5>
        <a href="https://youtube.com/champspossible"><i class="fa fa-youtube-play fa-5x red-text" aria-hidden="true"></i></a>
      </div>
    </div>


    <h1 class="center padTilte">FILMS INSTITUTIONNELS</h1>
    <div class="col s12 col l6">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/xu9smvcnD6E" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="col s12 col l6">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/CS5yzWr4sTs" frameborder="0" allowfullscreen></iframe></div>


  </div>
</div>
