<div class="center navTitle">
  L'équipe
</div>

<br>
<div class="row">


  <div class="col s12 m6 l3 center">
    <img src="assets/img/emilieCornely.gif" alt=""><br>
    <h2>Emilie Cornely</h2>
    <h5>VillageByCA</h5>
    <a href="https://twitter.com/EmilieCornely"><i class="fa fa-twitter fa-3x" aria-hidden="true"></i></a>
  </div>


  <div class="col s12 m6 l3 center">
    <img src="assets/img/thomasEllin.gif" alt=""><br>
    <h2>Thomas Ellin</h2>
    <h5>Campus Les Champs Du Possible</h5>
    <a href="https://twitter.com/champspossible"><i class="fa fa-twitter fa-3x" aria-hidden="true"></i></a>
  </div>


  <div class="col s12 m6 l3 center">
    <img src="assets/img/daphneChaillouet.gif" alt=""><br>
    <h2>Daphné Chaillouet</h2>
    <h5>Campus & Chambres Agri 28</h5>
    <a href="https://twitter.com/DaphChaillouet"><i class="fa fa-twitter fa-3x" aria-hidden="true"></i></a>
  </div>


  <div class="col s12 m6 l3 center">
    <img src="assets/img/camilleFontaine.jpg" alt=""><br>
    <h2>Camille Fontaine</h2>
    <h5>Campus Les Champs Du Possible</h5>
    <a href="https://twitter.com/camAntoineJr"><i class="fa fa-twitter fa-3x" aria-hidden="true"></i></a>
  </div>



</div>
